h1 {
  color: blue;
  text-align: center;
}

header {
  background-color: aquamarine;
}

* {
  background-color: azure;
}

.menu {
  text-align: left;
  display: inline;
}

.menu-items {
  display: inline;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: black;
}
.menu a:visited {
  color: black;
}

.menu a:hover {
  color: hotpink;
}

.icons {
  display: inline;
  list-style-type: none;
  padding-right: 40px;
}

.icon {
  position: absolute;
  right: 0px;
  height: 30px;
  width: auto;
  list-style-type: none;
  display: inline;
  padding: 0 4px;
} 

#portrait {
  width: 500px;
  height: auto;
  }

.blog-image {
  width: auto;
  height: 300px;
  margin: auto;
}