* {
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}

p {
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
}

header {
  width: 100%;
  margin: 0 0 40px 0;
  padding: 0px;
  background-color: white;
}

h1 {
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 60px;
}

h1 a{
  text-decoration: none;
  color:black;
  width: 50%;
}

nav {
  margin-bottom: 100px
}

.menu {
  width: 40%;
  float: left;
  padding: 0px;
  position: absolute;
  top: 15px;
  left: 0px;
  
}

.menu-items {
  list-style-type: none;
  display: inline;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end; 
}

.menu-items a {
  color: black;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
  }

.menu-items a:hover {
  color: hotpink;
}

.icon-list {
  width: 10%;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end; 
  list-style-type: none;
  box-sizing: border-box; 
  padding: 0px;
  position: absolute;
  top: 8px;
  right: 20px; 
  }

i {
  object-fit: cover;
  color: black;
  padding: 5px;
}

i:hover {
  color: hotpink;
}

section {
  margin: 0 auto 50px ;
  width: 100%; 
}

#mce-responses {
  margin: 10px auto;
}

button {
  background-color: hotpink;
  border: none;
  border-radius: 5px;
  margin: 10px 10px;

}

input {
  font-size: 20px;
}

label {
  font-size: 22px;
}

div.buttons {
  margin: auto;
}

main.index {
  border-top: 1px solid black;
  max-width: 600px;
  margin: 0 auto;
}

.about-me {
  max-width: 1000px;
}

/* #portrait { 
  max-width: 100%;
  border-right: solid hotpink;
  } */

.body-link {
  text-decoration: underline hotpink;
  color: black;
}

.random-link {
  text-decoration: none;
  color: black;
}

.random-link:hover {
  color: black;
  font-weight: 100; 
  text-decoration: 1px underline black;
}

h2 {
  font-size: 26px;
}

ol {
  font-size: 22px;
}

.body-link:hover {
  color: hotpink;
}

.index div h2 {
  margin: auto;
  text-align: left;
  margin: 20px auto 30px;
  padding: 25px 0px 0px 0px;
}

.index article {
  margin: auto auto 40px;
  max-width: 600px;
  height: auto;
  overflow: hidden;
  border-bottom: solid 1px;
}

h3 a {
  text-decoration: underline;
  color: black;
  font-weight: 800;
  margin-bottom: 10px;
}

h3 a:hover {
  color: hotpink;
}

.blog-image {
  max-width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
}

.fifty-percent-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
  border-left: 100px solid hotpink;
}

.pink-left {
  border-left: 100px solid hotpink;
}

.pink-right {
  border-right: 100px solid hotpink;
}


footer {
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: hotpink;
}

/* Blog Page Styling */

.blog div {
  max-width: 100%;
  margin: auto;
  padding: 0px 5px 25px;
}
.blog h2 {
  font-family: 'Gentium Book Plus', serif;
  font-weight: 300;
  border-bottom: 1px solid;
  font-size: 40px;
  padding: 0px 0px 0px;
  margin: 0px;
}

.blog h3 {
  font-size: 26px;
  padding: 0px;
  margin: 0px 0px 20px;
}

.blog h3 span {
  background-color: hotpink;
  padding-left: 1px;
  padding-right: 1px;
}

h4 {
  font-weight: bolder;
  font-size: 24px;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.blog h5 {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

/*.blog p {
  font-size: 22px;
  margin: 8px 0px;
}*/

.blog-image {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.blog .em {
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
}

.codepen {
  max-width: 800px;
  border-radius: 10px;
  margin: 10px 0px;
}

.element {
  font-family: monospace;
  font-size: 85%; 
  background-color: rgb(247, 186, 216);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}

.no-spacing {
  margin: 0px;
  padding: 0px;
}

.indent {
  text-indent: 30px;

}

ul {
  font-size: 22px;
  list-style-type: "→ "; 
}

ol {
  font-size: 22px;
}

/* This is where media queries live */


/* for phone screens*/

@media (max-width: 320px) {
  p {
    font-size: 10px;
  }
  nav .menu-items{
    width: 120px;
  }

  .menu-items a {
    font-size: 16px;
  }

  .body-link {
    font-size: 15px;
  }

  .menu {
  width: 50%;
  float: left;
  padding: 0px;
  position: absolute;
  top: 80px;  
  left: 0px;
  }

  .icon-list {
    width: 50%;
    float: right;
    padding: 0px;
    position: absolute;
    top: 80px;
    right: 0px;
  }

  #portrait {
    width: 100%;
    margin: auto;
    height: auto;
    box-shadow: 30px 0px hotpink;
  }
/*


  h3 {
    width: 300px;
  }

  h4 {
    width: 300px;
  }

  article {
    margin: auto;
    width: 300px;
    height: auto;
    overflow: hidden;
    border-bottom: solid 1px;
  }

  .index article div {
    width: 300px;
    height: auto;
    overflow: hidden;
  }

.image-holder {
  width: 300px;
  height: auto;
  overflow: hidden; */

  li {
    max-width: 100%;
    font-size: 15px;
  }
.em {
  font-size: 15px;
}

section {
  margin: auto;
  max-width: 100%;
  margin-bottom: 50px;
  padding: 0 5px;
}

}

/*for tablet screens*/

@media all and (max-width:768px) {
  
  p {
    font-size: 18px;
  }

  .em {
    font-size: 18px;
  }

  li {
    max-width: 100%;
    font-size: 18px;
  }

  .menu-items a {
    font-size: 18px;
  }

.body-link {
    font-size: 18px;
  }

  .em {
    font-size: 18px;
  }

  .menu {
  width: 50%;
  float: left;
  padding: 0px;
  position: absolute;
  top: 80px;
  left: 0px;
  }

  .icon-list {
    width: 50%;
    float: right;
    padding: 0px;
    position: absolute;
    top: 80px;
    right: 0px;
  }

  #portrait {
    width: 80%;
    margin: auto;
    height: auto;
    box-shadow: 70px 0px hotpink;
  }

  section {
    margin: auto;
    max-width: 100%;
    margin-bottom: 50px;
    padding: 0 30px;
  }

  .index article {
    max-width: 100%;
    border-bottom: solid 1px;
  }

  .blog-image {
    max-width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
}

/* computer screen */
@media (min-width: 1000px) {
  section {
    padding: 0 150px;
  
  }
}