h1 {
  color: blue;
}

header {
  background-color: aquamarine;
}

* {
  background-color: azure;
}

.menu {
  text-align: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.menu a {
  text-decoration: none
}

.icons {
  position: absolute;
  right: 0px;
  height: 30px;
  width: auto;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}